body{
    background-color: #9954b1;
}

body{
    margin: 0;
    text-align: center;
    
}

.bottom_image{
    position: absolute;
    left: 0;
    top:250px;
}



.texti{

    font-size: 2.5rem;
    
}

.top-container{
    background-color: rgb(100, 81, 81);
    position: relative;
    padding: 150px;
    padding-top: 10px;
}

.front_image{
    position: absolute;
    right: 0px;
    
}

h1{
    font-size: 5.62rem;
    width: 10%;
    margin: 120px auto 0 auto ;
    font-family: 'Montez', cursive;;
    
}



.middle-Container{


}

.bottom-Container{
  
}


